<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="UTF-8" /> 
<title>
 this is home page
</title>
</head>
<body>

<section class="bannerr d-flex justify-content-center align-items-center">
<div class="text-center">
<h1 class="font-weight-bold">smart contact manager</h1>
<p>start collecting your contact in very smarter way. we provide very smarter and very efficient way to manage contacts</p> 
<!-- btn-primary is blue color button -->
<button class="btn bg-primary btn-lg text-white">Get Start</button>
 
</div>

</section>


</body>
</html>